// COLORS

$color-grey-light: #f3f2f7;
$color-grey-light-2: #eee;
$color-primary:#ff487c;
$color-grey-dark: #9ba8ae;



$color-white: #fff;
$color-black: #000;
$dark-blue: #202833;

$color-pink: #ff487c;
$color-green: #a0cc53;
$color-cyan: #0db5a8;
$color-brown: #f57d5a;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;